type proc_driver_LaserFocus_on, fs_type;
type proc_driver_LaserFocus_value, fs_type;
type proc_driver_LaserFocus_value_more_info, fs_type;
type proc_driver_LaserFocus_CalStart, fs_type;
type proc_driver_LaserFocus_Status_For_Camera,fs_type;
type proc_driver_LaserFocus_Status,fs_type;
type factory_file, file_type;


# ASUS_BSP +++ Sean_Lu "enable laser calibration action on shipping image"
allow system_app proc_driver_LaserFocus_on:file { getattr setattr open read write };
allow system_app proc_driver_LaserFocus_value:file { getattr setattr open read write };
allow system_app proc_driver_LaserFocus_CalStart:file { getattr setattr open read write };

allow platform_app proc_driver_LaserFocus_on:file { getattr setattr open read write };
allow platform_app proc_driver_LaserFocus_value:file { getattr setattr open read write };
allow platform_app proc_driver_LaserFocus_CalStart:file { getattr setattr open read write };

allow system_app factory_file:file { open setattr write };
allow system_app factory_file:file { create open write getattr };
allow system_app factory_file:dir { add_name write };

allow platform_app factory_file:dir { search };
allow platform_app factory_file:file { read open };

allow system_app mpctl_socket:dir r_dir_perms;
allow untrusted_app mpctl_socket:dir r_dir_perms;
allow platform_app mpctl_socket:dir r_dir_perms;
allow platform_app mpctl_socket:sock_file { write };
allow platform_app perfd:unix_stream_socket { connectto };

allow init fac_file:filesystem { remount }; 
# ASUS_BSP ---


