type atfwd, domain;
type atfwd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(atfwd)

# Creates/Talks to qmuxd via the qmux_radio socket.
qmux_socket(atfwd);

#Allow IPC binding with ServiceManager & System apps
binder_use(atfwd);
binder_call(atfwd, system_app);
binder_call(atfwd, servicemanager);
r_dir_file(atfwd, sysfs_ssr);

allow atfwd self:udp_socket create;
#for modem crash log ramdump
allow atfwd property_socket:sock_file { write };

# modem log dump for user image 
allow atfwd init:unix_stream_socket { connectto };
allow atfwd diag_device:chr_file { read write open ioctl };
