type dun-server, domain;
type dun-server_exec, exec_type, file_type;

init_daemon_domain(dun-server)

#dun-server needs read/write on smd device node
allow dun-server smd_device:chr_file rw_file_perms;
#dun-server needs read/write on serial device node
allow dun-server serial_device:chr_file rw_file_perms;

#dun-server requires interaction with udp socket
allow dun-server self:udp_socket { create ioctl read};
allow dun-server port:udp_socket name_bind;
allow dun-server node:udp_socket node_bind;

#dun-server requires interaction with netlink route socket
allow dun-server self:netlink_route_socket { bind create read};

#dun-server requires binding with system_app and servicemanager
binder_use(dun-server);
binder_call(dun-server, system_app);
binder_call(dun-server, servicemanager);
