#for accessing fmradio device node
allow  init_shell  fm_radio_device:chr_file { open read ioctl };
# for insmod of iris ko  , this is needed .
allow init_shell self:capability sys_module;


#for  property starting with hw
allow init_shell  system_prop:property_service set ;

#for access to set BT property
allow init_shell  bluetooth_prop:property_service set;

#most of the default properties are set by init_shell
allow init_shell  default_prop:property_service set;

allow init_shell shell_exec:file execute_no_trans;

#Needed in order to set properties while going in/out of debug mode.
allow init_shell ctl_default_prop:property_service set;

allow init_shell efs_boot_dev:blk_file r_file_perms;

#perfd
allow init_shell ctl_default_prop:property_service set;

allow init_shell ctl_rildaemon_prop:property_service set;

#for access to UICC property
allow init_shell uicc_prop:property_service set;

#
allow init_shell kernel:system syslog_mod;

allow init_shell init_shell:packet_socket { create ioctl setopt};
allow init_shell init_shell:packet_socket { getopt read write };

#support logtool for user image
allow init_shell fuse:dir { search write add_name create read };
allow init_shell fuse:file { write create read open append };

#for modem crash log ramdump
allow init_shell qlogd_exec:file { execute_no_trans };
allow init_shell ssr_setup_exec:file { execute_no_trans };
allow init_shell init_shell:udp_socket { create ioctl };
allow init_shell zygote_exec:file { execute_no_trans };

#allow execute dmesg
allow init_shell kernel:system syslog_read;
# modem log dump for user image 
allow init_shell fuse:file { getattr unlink };
allow init_shell fuse:dir { remove_name open setattr };

#allow reboot recovery for logtool
allow init_shell powerctl_prop:property_service { set };
#allow execute /data/debug/*
allow init_shell fdc_logtool_file:file { execute_no_trans };
