#BugReorter
allow system_app media_rw_data_file:dir { setattr create rmdir remove_name add_name write read search getattr open };
allow system_app media_rw_data_file:file { setattr read ioctl rename unlink write open create };

allow system_app system_data_file:file { unlink };

# Set prop
allow init_shell debug_prop:property_service { set };

#Binder
allow zygote servicemanager:binder { call };
allow servicemanager zygote:dir { search };
allow servicemanager zygote:file { read open };
allow servicemanager zygote:process { getattr };
allow zygote system_server:binder { call transfer };
#Getattr
allow init fac_file:filesystem { getattr };

#Dmesg
allow init kernel:system { syslog_read };

allow system_server zygote:binder { call };

allow surfaceflinger init:dir { search };
allow surfaceflinger init:file { open read };

#BugReporter
allow isolated_app media_rw_data_file:file { write };

allow untrusted_app fac_file:filesystem { getattr };
