type mm-qcamerad, domain;
type mm-qcamerad_exec, exec_type, file_type;
init_daemon_domain(mm-qcamerad)

userdebug_or_eng(`
  allow mm-qcamerad debugfs:dir search;
')

allow mm-qcamerad proc:file { read write };
allow mm-qcamerad fac_file:dir { search read };
allow mm-qcamerad fac_file:file { create read open getattr append };

#Communicate with user land process through domain socket
allow mm-qcamerad camera_socket:sock_file { create unlink write };
allow mm-qcamerad camera_socket:dir w_dir_perms;
unix_socket_connect(mm-qcamerad, sensors, sensors)

allow mm-qcamerad self:process execmem;
# Interact with other media devices
allow mm-qcamerad camera_device:dir search;
allow mm-qcamerad { gpu_device video_device camera_device sensors_device }:chr_file rw_file_perms;

allow mm-qcamerad { surfaceflinger mediaserver }:fd use;
# Need to investigate this
allow mm-qcamerad self:tcp_socket create_socket_perms;

allow mm-qcamerad camera_data_file:dir { write remove_name search add_name };
allow mm-qcamerad camera_data_file:sock_file { create unlink };
allow mm-qcamerad camera_data_file:file { create read append open getattr };
allow mm-qcamerad node:tcp_socket node_bind;

userdebug_or_eng(`
allow mm-qcamerad self:tcp_socket { accept listen };
')

userdebug_or_eng(`
  allow mm-qcamerad camera_data_file:file create_file_perms;
')

#/data/fdAlbum
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:file create_file_perms;

#/data/DITNetworkFile
allow mm-qcamerad system_data_file:sock_file { create read write open getattr unlink };

#Remove GL fine reference
allow mm-qcamerad shell_data_file:dir search;

# IMS use camera daemon to make VT call
allow mm-qcamerad port:tcp_socket name_bind;


#sean_lu +++ laser for shipping image calibration
allow mm-qcamerad proc_driver_LaserFocus_on:file { read write open getattr };
allow mm-qcamerad proc_driver_LaserFocus_value:file { read open getattr };
allow mm-qcamerad proc_driver_LaserFocus_value_more_info:file { read open getattr };
allow mm-qcamerad proc_driver_LaserFocus_CalStart:file { read write open getattr };
allow mm-qcamerad proc_driver_LaserFocus_Status:file { open read getattr };
allow mm-qcamerad proc_driver_LaserFocus_Status_For_Camera:file { open read getattr };
#sean_lu +++ laser
