# property for uicc_daemon
type uicc_prop, property_type;
type qcom_ims_prop, property_type;
#<asus-jason20150612+> add property for dual speaker audio mode
type tfa_prop, property_type;
