type sapd, domain;
type sapd_exec, exec_type, file_type;

init_daemon_domain(sapd)

#sapd requires interaction with qmuxd sockets
allow sapd qmuxd_socket:dir {search write add_name};
#sapd requires interaction with qmux sock file
allow sapd qmuxd_socket:sock_file {write create setattr};
#sapd requires connection to qmuxd unix stream socket
allow sapd qmuxd:unix_stream_socket connectto;
