type WifiTest_Agent_exec, exec_type, file_type;
userdebug_or_eng(`
	type WifiTest_Agent, domain;
	init_daemon_domain(WifiTest_Agent)

	allow WifiTest_Agent shell_exec:file { execute r_file_perms execute_no_trans };
	allow WifiTest_Agent system_file:file rx_file_perms;
	allow WifiTest_Agent kmsg_device:chr_file w_file_perms; 

	#property_service
	allow WifiTest_Agent system_prop:property_service set;
	allow WifiTest_Agent property_socket:sock_file create_file_perms;
	allow WifiTest_Agent init:unix_stream_socket connectto;

	#app_process
	allow WifiTest_Agent zygote_exec:file rx_file_perms;
	allow WifiTest_Agent dalvikcache_data_file:file { create_file_perms execute };
	allow WifiTest_Agent dalvikcache_data_file:dir create_dir_perms;

	#insmod/rmmod
	allow WifiTest_Agent self:capability sys_module;
	allow WifiTest_Agent kernel:key search;

	#iwpriv
	allow WifiTest_Agent self:udp_socket { bind create getattr write setopt ioctl read getopt };
	allow WifiTest_Agent self:appletalk_socket { bind create getattr write setopt ioctl read getopt };
	allow WifiTest_Agent self:capability { net_admin net_raw net_bind_service setgid setuid };
	allow WifiTest_Agent self:socket create_socket_perms;
	allow WifiTest_Agent kernel:system module_request;

	allow WifiTest_Agent self:process ptrace;

	#servicemanager
	allow WifiTest_Agent servicemanager:binder call;
')
