import init.asus.thermal.rc
import init.asus.logtool.rc
import init.logtool.rc
import init.qcom.usb.rc

on early-init
    mkdir /asdf 0777 system system
    
    #++++++nerissa_chen@asus.com add for FRP
    mkdir /persistent 0660 system system
    #------nerissa_chen@asus.com add for FRP


on fs
    wait /dev/block/bootdevice/by-name/asdf 
    mount ext4 /dev/block/bootdevice/by-name/asdf /asdf nosuid nodev barrier=1
    
    #++++++nerissa_chen@asus.com add for FRP
    wait /dev/block/bootdevice/by-name/persistent
    mount emmc /dev/block/bootdevice/by-name/persistent /persistent
    #------nerissa_chen@asus.com add for FRP
    
on post-fs-data
	start check_last
	
#TestRecorder for factory log
	symlink /system/bin/TestRecorder /data/data/TestRecorder
	
# For audio headset ringtone volume index when ringer mode is vibrate
    setprop ro.audio.vibra.ring.vol.idx 5
	
#add by jinpeng_He for touch glove mode+++
	chown system system /sys/bus/i2c/devices/i2c-5/5-0038/glove_mode
	chown system system /sys/bus/i2c/devices/i2c-5/5-0038/dclick_mode
	chown system system /sys/bus/i2c/devices/i2c-5/5-0038/gesture_mode
	chown system system /proc/asus_touch_proximity_status
#add by jinpeng_He for touch glove mode+++

# move to init.Z00L.rc once it's ready...
# service for RFGPIOChange
on property:sys.asus.gpio=*
    start asusgpio

service asusgpio /system/bin/sh /system/etc/init.asus.gpio.sh
    class late-start
    user root
    group root
    oneshot
    disabled
on property:persist.asus.dclick=1
	write /sys/bus/i2c/devices/i2c-5/5-0038/dclick_mode 1
on property:persist.asus.dclick=0
	write /sys/bus/i2c/devices/i2c-5/5-0038/dclick_mode 0

on property:persist.asus.gesture.type=*
#start gessture_mode
write /sys/bus/i2c/devices/i2c-5/5-0038/gesture_mode ${persist.asus.gesture.type}
#service gessture_mode /system/bin/sh system/etc/init.asus.tp_gesture_mode.sh
#	class late-start
#   user root
#   group root
on property:persist.asus.glove=1
	write /sys/bus/i2c/devices/i2c-5/5-0038/glove_mode 1
on property:persist.asus.glove=0
	write /sys/bus/i2c/devices/i2c-5/5-0038/glove_mode 0
on property:persist.asus.flipcovermode=0
	write /sys/bus/i2c/devices/i2c-5/5-0038/flip_cover_mode 0
on property:persist.asus.flipcovermode=1
	write /sys/bus/i2c/devices/i2c-5/5-0038/flip_cover_mode 1

#init camera dit lib
service camditlib /system/bin/sh /system/etc/init.asus.cam.ditlib.sh
    user root
    group root
    oneshot
    disabled
on post-fs
    start camditlib

service modem_country /system/bin/modem_country
    class late_start
    user bluetooth
    group bluetooth
    disabled
    oneshot

on property:sys.boot_completed=1
    start modem_country
    write /proc/boot_completed_prop 1
# BSP Ben add for boot_completed check


#<asus-jason20150612+> Add dual speaker calibration on boot and set speaker mode
service spk_calibration  /system/bin/tfamode 0
	user root
	oneshot
	disabled

on property:service.bootanim.exit=0
	start spk_calibration

service spk_setmode  /system/bin/tfamode 1
        user root
        oneshot
        disabled

on property:sys.config.maxxaudio=*
        start spk_setmode
#<asus-jason20150612-> Add dual speaker calibration on boot and set speaker mode

# Add for SerialManager
on property:persist.asus.qc.gcf=1
    chmod 666 /dev/smd7

on property:persist.asus.qc.gcf=0
    chmod 660 /dev/smd7

