 #logtool#

on post-fs-data
   start check_last

   mkdir /data/logcat_log 0775 system system

   chmod 0777 /proc/asusdebug
   write /proc/asusdebug load
   write /proc/asusdebug get_lastshutdown_log
   
   mkdir /data/log
   mkdir /data/anr
   mkdir /data/tombstones
   mkdir /data/media/asus_log
   mkdir /data/debug
   
   chown system system /data/log
   chown system system /data/anr
   chown system system /data/tombstones
   chown sdcard_rw sdcard_rw /data/media/asus_log
   chown system system /data/debug
   
#  chmod 0775 /data/log ==>move to init.asus.rc
   chmod 0775 /data/anr
   chmod 0775 /data/tombstones
   chmod 0755 /data/media/asus_log
   chmod 0755 /data/debug
   

on property:persist.asuslog.fac.init=1
    start init_factorylog

on property:persist.asuslog.logtool.clear=1
    start logtool_clear

#ASUS_BSP: [ASDF] Check for LastShutdown Logs ---
#ASUS_BSP: [ASDF] Check for Abnormal Shutdown Logs +++
service asus_chk_asdf /system/bin/sh /system/etc/init.asus.check_asdf.sh
    user root
    group root
    disabled
    oneshot

on property:sys.boot_completed=1
    start asus_chk_asdf

on property:persist.radio.check_asdf=*
    start asus_chk_asdf
#ASUS_BSP: [ASDF] Check for Abnormal Shutdown Logs ---

#logcommand
service logcommand /system/bin/logcommand
    class main
    disabled
    oneshot

service init_factorylog /system/bin/sh /system/etc/init_factorylogtool.sh
    disabled
    oneshot

service logtool_clear /system/bin/sh /system/etc/logtool_clear.sh
    disabled
    oneshot
    
service check_last /system/bin/sh /system/etc/init.asus.check_last.sh
    user root
    disabled
    oneshot

service logbackup /system/bin/sh /system/etc/packlogs.sh
    class late_start
    user root
    group sdcard_rw
    oneshot
    disabled
    seclabel u:r:dumpstate:s0

service logTcpdump /system/bin/dumps tcpdump
    user root
    group root
    class main
    disabled

#service diag_mdlog /system/bin/diag_mdlog -f /system/etc/Diag.cfg -o /sdcard/Asuslog/Modem/ -s 200 -n 3 -c
service diag_mdlog /system/bin/sh /system/etc/modemlog.sh
    class late_start
    disabled
    oneshot

service diag_mdlog_stop /system/bin/diag_mdlog -k
    class late_start
    disabled
    oneshot

service ss_ramdump /system/bin/subsystem_ramdump
    class main
    user system
    group system
    disabled

#log_main log_system
service logcat /system/bin/logcat -k -b main -b system -r 10000 -n 20 -v threadtime -f /data/logcat_log/logcat.txt
	class late_start
	disabled
#log_radio
service logcat-radio /system/bin/logcat -r 10000 -b radio -n 20 -v time -f /data/logcat_log/logcat-radio.txt
	class late_start
	disabled
#log_events
service logcat-events /system/bin/logcat -r 10000 -b events -n 20 -v threadtime -f /data/logcat_log/logcat-events.txt
	class late_start
	disabled

on property:persist.asuslog.logcat.enable=1
    start logcat

on property:persist.asuslog.logcat.enable=0
    stop logcat

on property:persist.asuslog.logcatr.enable=1
    start logcat-radio

on property:persist.asuslog.logcatr.enable=0
    stop logcat-radio

on property:persist.asuslog.logcate.enable=1
    start logcat-events

on property:persist.asuslog.logcate.enable=0
    stop logcat-events

on property:persist.asuslog.tcpdump.enable=1
    start logTcpdump

on property:persist.asuslog.tcpdump.enable=0
    stop logTcpdump

on property:persist.asuslog.qxdmlog.enable=1
    insmod /system/lib/modules/diagchar.ko
    start diag_mdlog

on property:persist.asuslog.qxdmlog.enable=0
    start diag_mdlog_stop
    write /sys/power/wake_unlock diag_fwrite

on property:persist.asuslog.modem.ramdumps=1
    insmod /system/lib/modules/diagchar.ko
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 1
    start ss_ramdump

on property:persist.asuslog.modem.ramdumps=0
    write /sys/module/subsystem_restart/parameters/enable_ramdumps 0
    stop ss_ramdump

on property:persist.asuslog.qpst.enable=1
    write /sys/module/msm_poweroff/parameters/download_mode 1

on property:persist.asuslog.qpst.enable=0
    write /sys/module/msm_poweroff/parameters/download_mode 0

#logtool#
